@charset "UTF-8";
@layer drv.theme {
  .drv-theme--dark {
    --drv-font-family: "Barlow";
    --drv-color-ui-01: #041c39;
    --drv-color-ui-02: #6B7E0C;
    --drv-color-ui-03: #6983a1;
    --drv-color-ui-04: #395a82;
    --drv-color-ui-05: #204572;
    --drv-color-ui-06: #083163;
    --drv-color-ui-07: #b4c1d0;
    --drv-color-ui-08: #788faa;
    --drv-color-ui-09: #fff;
    --drv-color-ui-10: #b4c1d0;
    --drv-color-overlay-01: rgb(0 0 0 / 90%);
    --drv-color-overlay-02: rgb(0 0 0 / 70%);
    --drv-color-text-01: #fff;
    --drv-color-text-02: #000;
    --drv-color-text-03: #b4c1d0;
    --drv-color-text-04: #fff;
    --drv-color-text-05: #fff;
    --drv-color-text-error: #ff94a4;
    --drv-color-interactive-01: var(--drv-color-ui-09);
    --drv-color-interactive-01-hover: var(--drv-color-ui-09);
    --drv-color-interactive-02: var(--drv-color-ui-06);
    --drv-color-interactive-02-hover: var(--drv-color-ui-04);
    --drv-color-interactive-03: rgb(255 255 255 / 65%); /** Umrandung Sekundärbuttons (taubenblau 50) */
    --drv-color-interactive-03-hover: rgb(255 255 255 / 6%); /** Hover/Focus Hintergrund Sekundärbuttons (taubenblau 50) */
    --drv-color-interactive-disabled-01: var(--drv-color-ui-08);
    --drv-color-interactive-disabled-02: var(--drv-color-ui-08);
    --drv-color-interactive-state-error-01: var(--drv-color-text-error);
    --drv-color-interactive-state-error-02: #383b54;
    --drv-color-interactive-state-error-03: #c9193d;
    --drv-color-interactive-state-error-04: #fae8ec;
    --drv-color-interactive-state-success-01: #5dbf5b;
    --drv-color-interactive-state-success-02: #354d49;
    --drv-color-interactive-state-warning-01: #f9ca1e;
    --drv-color-interactive-state-warning-02: #494440;
    --drv-color-interactive-state-info-01: #54a1ff;
    --drv-color-interactive-state-info-02: var(--drv-color-ui-06);
    --drv-color-placeholder-wcag: #909090;
    /* Contrast Color */
    --drv-contrast-color: var(--drv-color-ui-01);
    --drv-contrast-color-hover: var(--drv-color-interactive-02-hover);
    --drv-table-scroll-hint-opacity: 90%;
    --drv-footer-bg-color: #083163;
    --drv-footer-color: #fff;
    --drv-footer-border-color: #2e517b;
    --drv-navigation-active-color: var(--drv-color-interactive-01-hover);
    /* Filter Background Image */
    --drv-filter-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='19' viewBox='0 0 32 19'%3E%3Cpath fill='%23041c39' d='M.93 1.79c3.26 2.28 11.6 7.19 24.6 8.43h6.14v8.32H.93V1.8z'/%3E%3Cpath fill='%23395a82' d='M1.86 18.54V3.53c4.02 2.53 11.98 6.5 23.58 7.61h6.23V9.29h-6.1C12.85 8.06 4.67 3.26 1.48 1.03L0 0v18.54h1.86z'/%3E%3C/svg%3E");
    /* Color Interactive-01 as CSS Filter */
    --drv-color-interactive-01-filter: invert(100%);
    /* Color interactive-01-hover as CSS Filter */
    --drv-color-interactive-01-hover-filter: invert(100%);
    /* Color of richtext link icon as CSS Filter modifier */
    --drv-notification-link-icon-color: invert(19%) sepia(15%) saturate(3930%) hue-rotate(180deg) brightness(93%) contrast(105%);
    --drv-checkbox-border-color: var(--drv-color-ui-03, #6983a1);
    --simpledonut-color-outlined: var(--drv-color-interactive-disabled-02, #788faa4d);
  }
}
