@layer drv.theme {
  .drv-theme--dris {
    --drv-font-family: "Ubuntu";
    --drv-font-title-large-sm-font-size: 1.625rem;
    --drv-font-title-large-sm-line-height: 1.3076;
    --drv-font-title-large-sm-font-weight: bold;
    --drv-font-title-large-sm-letter-spacing: 0.2px;
    --drv-font-title-large-md-font-size: 2.25rem;
    --drv-font-title-large-md-line-height: 1.2777;
    --drv-font-title-large-lg-font-size: 2.625rem;
    --drv-font-title-large-lg-line-height: 1.2857;
    --drv-font-title-large-xlg-font-size: 3.125rem;
    --drv-font-title-large-xlg-line-height: 1.28;
    --drv-font-title-regular-sm-font-weight: bold;
    --drv-font-title-regular-sm-letter-spacing: 0.2px;
    --drv-font-title-regular-sm-font-size: 1.3125rem;
    --drv-font-title-regular-sm-line-height: 1.3333;
    --drv-font-title-regular-md-font-size: 1.625rem;
    --drv-font-title-regular-md-line-height: 1.3076;
    --drv-font-title-regular-xlg-font-size: 2rem;
    --drv-font-title-regular-xlg-line-height: 1.2812;
    --drv-font-title-medium-sm-font-weight: bold;
    --drv-font-title-medium-sm-letter-spacing: 0.3px;
    --drv-font-title-medium-sm-font-size: 1.125rem;
    --drv-font-title-medium-sm-line-height: 1.3888;
    --drv-font-title-medium-md-font-size: 1.1875rem;
    --drv-font-title-medium-md-line-height: 1.526;
    --drv-font-title-medium-xlg-font-size: 1.3125rem;
    --drv-font-title-medium-xlg-line-height: 1.5238;
    --drv-font-title-small-sm-font-weight: bold;
    --drv-font-title-small-sm-letter-spacing: 0.4px;
    --drv-font-title-small-sm-font-size: 0.9375rem;
    --drv-font-title-small-sm-line-height: 1.6;
    --drv-font-title-small-lg-letter-spacing: 0.3px;
    --drv-font-title-small-lg-font-size: 1.125rem;
    --drv-font-title-small-lg-line-height: 1.5;
    --drv-font-body-01-sm-font-weight: normal;
    --drv-font-body-01-sm-letter-spacing: 0.1px;
    --drv-font-body-01-sm-font-size: 0.9375rem;
    --drv-font-body-01-sm-line-height: 1.6;
    --drv-font-body-01-lg-letter-spacing: 0;
    --drv-font-body-01-lg-font-size: 1.125rem;
    --drv-font-body-01-lg-line-height: 1.5;
    --drv-font-body-02-sm-font-weight: 300;
    --drv-font-body-02-sm-letter-spacing: 0;
    --drv-font-body-02-sm-font-size: 1.0625rem;
    --drv-font-body-02-sm-line-height: 1.529;
    --drv-font-body-02-md-font-size: 1.125rem;
    --drv-font-body-02-md-line-height: 1.5555;
    --drv-font-body-02-lg-font-size: 1.25rem;
    --drv-font-body-02-lg-line-height: 1.55;
    --drv-font-quote-01-sm-font-weight: 300;
    --drv-font-quote-01-sm-letter-spacing: 0;
    --drv-font-quote-01-sm-font-size: 1.1875rem;
    --drv-font-quote-01-sm-line-height: 1.5263;
    --drv-font-quote-01-md-font-size: 1.3125rem;
    --drv-font-quote-01-md-line-height: 1.5238;
    --drv-font-quote-01-lg-font-size: 1.5rem;
    --drv-font-quote-01-lg-line-height: 1.5;
    --drv-font-label-01-sm-font-weight: bold;
    --drv-font-label-01-sm-font-size: 0.875rem;
    --drv-font-label-01-sm-line-height: 1.5;
    --drv-font-label-01-sm-letter-spacing: 0.2px;
    --drv-font-label-01-lg-font-size: 0.9375rem;
    --drv-font-label-01-lg-line-height: 1.5333;
    --drv-font-label-02-sm-font-weight: normal;
    --drv-font-label-02-sm-font-size: 0.875rem;
    --drv-font-label-02-sm-line-height: 1.5;
    --drv-font-label-02-sm-letter-spacing: 0.2px;
    --drv-font-label-02-lg-font-size: 0.9375rem;
    --drv-font-label-02-lg-line-height: 1.5333;
    --drv-font-action-01-sm-font-weight: bold;
    --drv-font-action-01-sm-letter-spacing: 0.1px;
    --drv-font-action-01-sm-font-size: 0.9375rem;
    --drv-font-action-01-sm-line-height: 1.6;
    --drv-font-action-01-lg-letter-spacing: 0;
    --drv-font-action-01-lg-font-size: 1.125rem;
    --drv-font-action-01-lg-line-height: 1.5;
    --drv-font-weight-normal: 400;
    --drv-font-weight-bold: 700;
    --drv-color-ui-01: #fff;
    --drv-color-ui-02: #000072;
    --drv-color-ui-03: #2c69d8;
    --drv-color-ui-04: #95b4eb;
    --drv-color-ui-05: #ecf1fb; /* original #d9e4f8; => not a11y with #2c69d8 */
    --drv-color-ui-06: #ecf1fb;
    --drv-color-ui-07: #000072;
    --drv-color-ui-08: #112a9a;
    --drv-color-ui-09: #000;
    --drv-color-overlay-01: rgb(5 12 26 / 90%);
    --drv-color-overlay-02: rgb(5 12 26 / 70%);
    --drv-color-text-01: #050c1a;
    --drv-color-text-02: #fff;
    --drv-color-text-03: #4f555f;
    --drv-color-text-04: #2c69d8;
    --drv-color-text-05: #000072;
    --drv-color-interactive-01: #2c69d8;
    --drv-color-interactive-01-hover: #000072;
    --drv-color-interactive-disabled-01: #91949b;
    --drv-color-interactive-disabled-01-wcag: #767676;
    --drv-color-interactive-02: #fff;
    --drv-color-interactive-02-hover: #95b4eb;
    --drv-color-interactive-state-error-02: #fae9eb;
    --drv-color-interactive-disabled-02: #e8e9ea;
    --drv-color-interactive-03: #80a5e8;
    --drv-color-interactive-03-hover: rgba(44, 105, 216, 0.06);
    --drv-color-interactive-state-error-03: #eba9b1;
    --drv-color-placeholder-wcag: #91949b;
    --drv-color-interactive-state-error-01: #ce283d;
    --drv-color-interactive-state-warn: #f9a11e;
    --drv-color-interactive-state-success-01: #000072;
    --drv-color-interactive-state-idle: #909090;
    /* Contrast Color */
    --drv-contrast-color: var(--drv-color-interactive-02);
    --drv-contrast-color-hover: var(--drv-color-interactive-02-hover);
    --drv-navigation-active-color: var(--drv-color-interactive-01-hover);
    --drv-stage-colored-bg: var(--drv-color-ui-05);
    /* Filter Background Image */
    --drv-filter-bg-image: none;
    /* Color Interactive-01 as CSS Filter */
    --drv-color-interactive-01-filter: invert(34%) sepia(71%) saturate(1720%) hue-rotate(204deg) brightness(87%) contrast(93%);
    /* Color interactive-01-hover as CSS Filter */
    --drv-color-interactive-01-hover-filter: invert(17%) sepia(25%) saturate(7149%) hue-rotate(232deg) brightness(72%) contrast(141%);
    /* Color of richtext link icon as CSS Filter modifier */
    --drv-notification-link-icon-color: invert(100%);
    --drv-notification-sussess-color: #fff;
    --simpledonut-color-outlined: var(--drv-color-interactive-disabled-02, #e8e9ea);
  }
}
