@layer drv.theme {
  .drv-theme--productive {
    --drv-font-title-large-sm-font-weight: var(--drv-font-weight-bold, 600);
    --drv-font-title-large-sm-font-size: 1.625rem;
    --drv-font-title-large-sm-line-height: 1.3076;
    --drv-font-title-large-sm-letter-spacing: 0.2px;
    --drv-font-title-large-md-font-size: 1.625rem;
    --drv-font-title-large-md-line-height: 1.3076;
    --drv-font-title-large-lg-font-size: 1.625rem;
    --drv-font-title-large-lg-line-height: 1.3076;
    --drv-font-title-large-xlg-font-size: 1.625rem;
    --drv-font-title-large-xlg-line-height: 1.3076;
    --drv-font-title-regular-sm-font-weight: var(--drv-font-weight-bold, 600);
    --drv-font-title-regular-sm-letter-spacing: 0.2px;
    --drv-font-title-regular-sm-font-size: 1.3125rem;
    --drv-font-title-regular-sm-line-height: 1.3333;
    --drv-font-title-regular-md-font-size: 1.3125rem;
    --drv-font-title-regular-md-line-height: 1.3333;
    --drv-font-title-regular-xlg-font-size: 1.3125rem;
    --drv-font-title-regular-xlg-line-height: 1.3333;
    --drv-font-title-medium-sm-font-weight: var(--drv-font-weight-bold, 600);
    --drv-font-title-medium-sm-letter-spacing: 0.3px;
    --drv-font-title-medium-sm-font-size: 1.125rem;
    --drv-font-title-medium-sm-line-height: 1.5;
    --drv-font-title-medium-md-font-size: 1.125rem;
    --drv-font-title-medium-md-line-height: 1.5;
    --drv-font-title-medium-xlg-font-size: 1.125rem;
    --drv-font-title-medium-xlg-line-height: 1.5;
    --drv-font-title-small-sm-font-weight: var(--drv-font-weight-bold, 600);
    --drv-font-title-small-sm-letter-spacing: 0.4px;
    --drv-font-title-small-sm-font-size: 1rem;
    --drv-font-title-small-sm-line-height: 1.5;
    --drv-font-title-small-lg-letter-spacing: 0.3px;
    --drv-font-title-small-lg-font-size: 1rem;
    --drv-font-title-small-lg-line-height: 1.5;
    --drv-font-body-01-sm-font-weight: var(--drv-font-weight-normal, 400);
    --drv-font-body-01-sm-letter-spacing: 0.4px;
    --drv-font-body-01-sm-font-size: 1rem;
    --drv-font-body-01-sm-line-height: 1.5;
    --drv-font-body-01-lg-letter-spacing: 0.3px;
    --drv-font-body-01-lg-font-size: 1rem;
    --drv-font-body-01-lg-line-height: 1.5;
    --drv-font-body-02-sm-font-weight: 400;
    --drv-font-body-02-sm-letter-spacing: 0.2px;
    --drv-font-body-02-sm-font-size: 1.125rem;
    --drv-font-body-02-sm-line-height: 1.5;
    --drv-font-body-02-md-font-size: 1.125rem;
    --drv-font-body-02-md-line-height: 1.5;
    --drv-font-body-02-lg-font-size: 1.125rem;
    --drv-font-body-02-lg-line-height: 1.5;
    --drv-font-quote-01-sm-font-weight: 400;
    --drv-font-quote-01-sm-letter-spacing: 0.3px;
    --drv-font-quote-01-sm-font-size: 1.1875rem;
    --drv-font-quote-01-sm-line-height: 1.5263;
    --drv-font-quote-01-md-font-size: 1.1875rem;
    --drv-font-quote-01-md-line-height: 1.5263;
    --drv-font-quote-01-lg-font-size: 1.1875rem;
    --drv-font-quote-01-lg-line-height: 1.5263;
    --drv-font-label-01-sm-font-weight: var(--drv-font-weight-bold, 600);
    --drv-font-label-01-sm-font-size: 0.875rem;
    --drv-font-label-01-sm-line-height: 1.5;
    --drv-font-label-01-sm-letter-spacing: 0.5px;
    --drv-font-label-01-lg-font-size: 0.875rem;
    --drv-font-label-01-lg-line-height: 1.5;
    --drv-font-title-mini-sm-font-weight: var(--drv-font-weight-bold, 600);
    --drv-font-title-mini-sm-font-size: 0.875rem;
    --drv-font-title-mini-sm-line-height: 1.5;
    --drv-font-title-mini-sm-letter-spacing: 0.5px;
    --drv-font-title-mini-lg-font-size: 0.875rem;
    --drv-font-title-mini-lg-line-height: 1.5;
    --drv-font-label-02-sm-font-weight: var(--drv-font-weight-normal, 400);
    --drv-font-label-02-sm-font-size: 0.875rem;
    --drv-font-label-02-sm-line-height: 1.5;
    --drv-font-label-02-sm-letter-spacing: 0.5px;
    --drv-font-label-02-lg-font-size: 0.875rem;
    --drv-font-label-02-lg-line-height: 1.5;
    --drv-font-action-01-sm-font-weight: var(--drv-font-weight-bold, 600);
    --drv-font-action-01-sm-letter-spacing: 0.4px;
    --drv-font-action-01-sm-font-size: 1rem;
    --drv-font-action-01-sm-line-height: 1.5;
    --drv-font-action-01-lg-letter-spacing: 0.3px;
    --drv-font-action-01-lg-font-size: 1rem;
    --drv-font-action-01-lg-line-height: 1.5;
    --drv-icon-default-size: 1.25rem;
    --drv-icon-size-rating: 1.5rem;
    --drv-spacing-01: 0.125rem;
    --drv-spacing-02: 0.125rem;
    --drv-spacing-03: 0.25rem;
    --drv-spacing-04: 0.375rem;
    --drv-spacing-05: 0.5rem;
    --drv-spacing-06: 0.75rem;
    --drv-spacing-07: 1rem;
    --drv-spacing-08: 1.25rem;
    --drv-spacing-09: 1.5rem;
    --drv-spacing-10: 2rem;
    --drv-spacing-11: 3rem;
    --drv-spacing-12: 4rem;
    --drv-button-height--default: 2rem;
    --drv-button-height--sm: 2.5rem;
    --drv-button-height--md: var(--drv-button-height--sm);
    --drv-button-height--lg: var(--drv-button-height--sm);
    --drv-button-size--mini: 1.5rem;
    --drv-button-radius-sm: 0.4375rem;
    --drv-button-radius-md: var(--drv-button-radius-sm);
    --drv-icon-heading-size--sm: 1.5rem;
    --drv-icon-heading-padding--sm: var(--drv-spacing-06);
    --drv-icon-heading-size--lg: 1.5rem;
    --drv-icon-heading-padding--lg: var(--drv-spacing-06);
    --drv-lang-sign-size: 1.5rem;
    --drv-datepicker-size: 16rem;
    --drv-details-icon-shift-y: 0;
    --drv-filter-column-gap: 0.25rem;
    --drv-filter-selected-padding-inline-start: 0.281rem;
    --drv-filter-selected-padding-inline-end: 0;
    --drv-header-buttonbar-spacing: 3.5rem;
    --drv-toggle-width: 2.4rem;
    --drv-toggle-height: 1.625rem;
    --drv-toggle-space: var(--drv-spacing-02);
    --drv-toggle-border-width: var(--drv-spacing-02);
    --drv-toggle-label-margin: 0;
    --drv-toggle-visual-shift: 0px;
    --drv-checkbox-label-margin: 0;
    --drv-checkbox-label-hidden-margin: 0;
    --drv-checkbox-size: 1.5rem;
    --drv-radio-button-size: 1.5rem;
    --drv-radio-bullet-size: 0.375rem;
    --drv-radio-button-label-margin: 0;
    --drv-application-header-height: 4rem;
    --drv-icon-scale: calc(20 / 24);
    --drv-field-message-min-height: 2rem;
    --drv-field-message-margin-bottom: 0;
    --drv-toggletip-close-btn-shift: 0;
  }
}
